@page
@model MainModel
@{
    ViewData["Title"] = "Gundam Razor";
}
@section Styles {
    <link href="@Url.Content("~/Styles/gundam.css")" rel="stylesheet" type="text/css" />
}
<h2>@ViewData["Title"]</h2>
<span class="search">Search <input type="text" name="search"></span>